 
<div class="row bg-light bg-gradient p-5">
    <div [ngClass]="addAttendance || editAttendance == true ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-dark">
                <div class="row">
                    <div class="col-md-6 text-white fw-bold fs-4">All Employees Attendance</div>
                    <div class="col-md-6 text-end">
                        <button class="btn btn-sm btn-warning" (click)=" addAttendance = ! editAttendance">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-active">
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Contact Number</th>
                            <th>attendace date</th>
                            <th>In Time</th>
                            <th>Out Time</th>
                            <th>Full day</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let attend of filtereAttendArray; let sr=index">

                           <ng-container >
                            <td>{{sr+1}}</td>
                            <td>{{attend.empName}}</td>
                            <td>{{attend.empContactNo}}</td>
                            <td>{{attend.attendanceDate | date :'dd-MM-YYYY'}}</td>
                            <td>{{attend.inTime | date :'hh:mm'}}</td>
                            <td>{{attend.outTime | date :'hh:mm'}}</td>
                            <td>
                                <span *ngIf=" attend.isFullDay">Yes</span>
                                <span *ngIf="!attend.isFullDay">No</span>
                            </td>
                            <td class="text-center">

                                <button class="btn btn-secondary btn-sm" (click)="editRecord(attend)">
                                    Edit</button>
                                <button class="btn btn-danger btn-sm mx-2"
                                    (click)="onDelete(attend.attendanceId)">Delete</button>

                            </td>
                           </ng-container>

                        </tr>


                    </tbody>
                    <!-- <tbody *ngIf="isLoader==true">
                        <tr>
                            <td colspan="6" class="text-center">
                                <div class="spinner-border text-muted"></div>
                                <div class="spinner-border text-primary"></div>
                                <div class="spinner-border text-success"></div>
                                <div class="spinner-border text-info"></div>
                                <div class="spinner-border text-warning"></div>
                                <div class="spinner-border text-danger"></div>
                                <div class="spinner-border text-secondary"></div>
                                <div class="spinner-border text-dark"></div>
                                <div class="spinner-border text-light"></div>

                            </td>
                        </tr>
                    </tbody> -->
                </table>
            </div>
        </div>
    </div>
    <div class="col-4 bg-light bg-gradient" *ngIf="addAttendance || editAttendance == true">
        <!-- <div class="row"> -->
        <form #employee="ngForm">
            <div class="card">
                <div class="card-header bg-dark">
                    <div class="row">
                        <div class="col-md-6 fs-4 text-light fw-bold"> Employees Leave</div>
                        <div class="col-md-6 text-end">
                            <button class="btn btn-sm btn-danger" (click)=" addAttendance = !addAttendance">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            <label for="" class="text-secondary  fw-bold p-2">Name</label>
                            <select class="form-control" name="empid" [(ngModel)]="attendanceObj.employeeId">
                                <option>Select Name</option>
                                <option [value]="emp.empId" *ngFor="let emp of employeeArray">{{emp.empName}}</option>

                            </select>
                        </div>
                        <div class="col-6">
                            <label for="" class="text-secondary  fw-bold p-2">attendance Date</label>
                            <input type="date" name="attendanceDate" [(ngModel)]="attendanceObj.attendanceDate"
                                class="form-control" required>

                        </div>
                        <div class="col-6">
                            <label for="" class="text-secondary  fw-bold p-2">In Time</label>
                            <input type="time" name="InTime" [(ngModel)]="attendanceObj.inTime" class="form-control"
                                required>

                        </div>
                        <div class="col-6">
                            <label for="" class="text-secondary  fw-bold p-2">Out Time</label>
                            <input type="time" name="outTime" [(ngModel)]="attendanceObj.outTime" class="form-control"
                                required>

                        </div>
                        <div class="col-6 ">
                            <label for="" class="text-secondary  fw-bold p-2">Is Full day ?</label>
                            <input type="checkbox" name="fullday" [(ngModel)]="attendanceObj.isFullDay">

                        </div>
                    </div>







                </div>
                <div class="row text-centre p-2">
                    <div class="col-6">
                        <button class="btn btn-sm btn-danger" (click)="resetAttendance()">Reset</button>
                    </div>

                    <div class="col-6">
                        <button class="btn btn-sm btn-success" *ngIf="attendanceObj.attendanceId == 0"
                            (click)="createAttendance()">Save
                        </button>
                        <button class="btn btn-sm btn-warning" *ngIf=" attendanceObj.attendanceId !== 0"
                            (click)="updateAttendance()">
                            Update
                        </button>
                    </div>
                </div>




            </div>
        </form>


    </div>